@mixin container {
	max-width: $container-max-width;
	margin: auto;
}

.container {
	@include container;
}

@mixin content-section {
	padding: 96px 40px 80px 40px;
}

footer {
	@include text-light;

	padding: 80px 0 1px;
	background-color: $dark-slate-blue;

	a, p, ul {
		@include no-underline;
		text-align: center;
	}
	ul {
		list-style: none inside;
		margin-bottom: 80px;
		padding-left: 0;
		line-height: 48px;

		&:before {
			content: '\2014\2014';
			color: $bluey-grey;
			margin-bottom: 32px;
			letter-spacing: -0.2ex;
		}
	}

	.copyright {
		border-top: 1px solid $bluey-grey;
		padding-top: 16px;
	}
}
