$menu-desktop-margin-x: 48px;
$menu-desktop-height: 136px;

@mixin menu-navbar-desktop($logo, $menu-deco-color, $top-item-color) {
	display: none;

	@include on-desktop {
		display: flex;
		flex-direction: column;
		height: $menu-desktop-height;
		margin: 0 $menu-desktop-margin-x;
	}

	.menu-logo {
		flex: 1;
		width: 100%;
		background: $logo center 32px no-repeat;
	}
	.menu {
		@include container;
		@include menu($top-item-color, $top-item-color);
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;

		> li {
			flex: 1;
		}

		$submenu-deco-width: 96px;

		.submenu {
			$width: 160px;
			$margin-above: 16px;
			$margin-between: 24px;
			$item-padding: 8px;

			position: absolute;
			left: calc(50% - #{$width / 2});
			min-width: $width;
			margin-top: $margin-above + $margin-between;
			background: rgba($white, 0.95);
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
			text-align: center;

			&::before {
				$margin-left: calc(50% - #{$submenu-deco-width / 2});
				content: '';
				display: block;
				width: $submenu-deco-width;
				margin: -$margin-between 0 $margin-between $margin-left;
				border-top: solid 1.5px $menu-deco-color;
			}

			li {
				display: flex;
				flex-direction: column;
				align-content: stretch;

				> *:first-child {
					flex: 1;
					padding: $item-padding;
					@include menu-item($text-dark, $link-hover-dark);
				}

				&:first-child > *:first-child {
					padding-top: 2 * $item-padding;
				}
				&:last-child > *:first-child {
					padding-bottom: 2 * $item-padding;
				}
			}
		}
	}
}
