/* Color palette. */
$indigo: #3b097b;
$dark-slate-blue: #192660;
$dark-peach: #e57b5c;
$maize: #eec850;
$azure: #2bb1f7;
$ultramarine-blue: #3000d1;
$black: #333333;
$white: #ffffff;
$pale-grey: #f7f5fa;
$dark-indigo: #280454;
$dark-violet: #280356;
$purple: #521f93;
$light-indigo: #875bcd;
$bluey-grey: #9997b7;
$white-two: #e6e6e6;
$pinkish-grey: #c9c9c9;
$white-35: rgba(255, 255, 255, 0.35);

/* Some extra styles not in the Zepplin palette. */
$white-65: rgba(255, 255, 255, 0.65);

/* Theming. */
$brand: $indigo;
$text-light: $white;
$text-dark: $black;


/* Text styles. */

@mixin H1 {
  font-family: 'Roboto Mono', 'Noto Sans TC', 'sans-sarif';
  font-size: 48px;
}

@mixin H2 {
  font-family: 'Roboto Mono', 'Noto Sans TC', 'sans-sarif';
  font-size: 36px;
}

@mixin H3 {
  font-family: 'Roboto Mono', 'Noto Sans TC', 'sans-sarif';
  font-size: 24px;
}

@mixin H4 {
  font-family: 'Roboto Mono', 'Noto Sans TC', 'sans-sarif';
  font-size: 18px;
}

@mixin Text-Style {
  font-family: 'Raleway', 'Noto Sans TC', 'sans-sarif';
  font-size: 16px;
  font-weight: 300;
}

@mixin Text-small-style {
  font-family: 'Raleway', 'Noto Sans TC', 'sans-sarif';
  font-size: 12px;
  font-weight: 300;
}
