/* Color palette. */
$indigo: #3b097b;
$dark-slate-blue: #192660;
$dark-peach: #e57b5c;
$maize: #eec850;
$azure: #2bb1f7;
$ultramarine-blue: #3000d1;
$black: #333333;
$white: #ffffff;
$pale-grey: #f7f5fa;
$dark-indigo: #280454;
$dark-violet: #280356;
$purple: #521f93;
$light-indigo: #875bcd;
$bluey-grey: #9997b7;
$white-two: #e6e6e6;
$pinkish-grey: #c9c9c9;
$white-35: rgba(255, 255, 255, 0.35);

/* Some extra styles not in the Zepplin palette. */
$white-65: rgba(255, 255, 255, 0.65);

/* Theming. */
$brand: $indigo;
$text-light: $white;
$text-dark: $black;


/* Text styles. */

@mixin header($font-size) {
  color: $black;
  font-family: 'Roboto', 'Noto Sans TC', 'sans-sarif';
  font-size: $font-size;
  font-weight: normal;
  text-align: center;
}

h1 {
  @include header(48px);
}

h2 {
  @include header(36px);
}

h3 {
  @include header(24px);
}

h4 {
  @include header(18px);
}

$text-font-size: 16px;
$text-font-size-small: 12px;

@mixin text($font-size) {
  color: $black;
  font-family: 'Raleway', 'Noto Sans TC', 'sans-sarif';
  font-weight: 300;
  font-size: $font-size;
}

a, button, dl, p, ul {
  @include text($text-font-size);
}
a:hover {
  color: $purple;
}
dl, p, ul {
  line-height: 1.5rem;
}
