@import 'site';

.top-navbar .navbar-logo {
	margin-top: (3 * $top-navbar-height - $top-navbar-logo-height) / 2;
}

@mixin index-section {
	@include content-section;

	h2 {
		@include h1;
	}
	a:not(.button) {
		@include no-underline;
		color: $text-dark;
	}
}

.index-hero {
	@include index-section;
	height: 584px;	// Arbitrary. Will adapt to real banner later.
	background-color: $indigo;
	color: white;
}

.index-proposal-call {
	@include index-section;

	.my-pycon {
		@include gradient-hover(276deg, $dark-peach, $maize);
	}
}

.index-logo-gap {
	padding-top: 8px;
	height: 204px;
}

.index-introduction {
	@include index-section;
	background-image: linear-gradient(159deg, $indigo, $dark-slate-blue);

	article {
		margin-top: 72px;

		&:first-of-type {
			margin-top: 0;
		}
	}
	h2, p {
		color: $white;
	}

	.volunteer {
		@include gradient-hover(259deg, $azure, $ultramarine-blue);
		margin-top: 40px;
	}
}

.index-partners {
	@include index-section;

	.sponsorship {
		@include gradient-hover(276deg, $dark-peach, $maize);
	}
}
