@import 'site';

.page-hero {
	background-image: $top-navbar-background;

	.menu-navbar-desktop {
		display: none;

		@include breakpoint($mobile-max-width) {
			display: flex;
			flex-direction: column;
		}
	}

	h1 {
		margin: 0;
		padding: 0;
		line-height: 300%;
		color: $text-light;
	}
}

.content {
	@include content-section;
	@include container;

	h2 {
		margin-top: 48px;
	}
	h3 {
		margin-top: 24px;
	}
}
