@import 'site';

.title-hero {
	@include text-light;
	margin: 0;
	padding: 0;
	line-height: 300%;
	background-image: $top-navbar-background;
}

.content {
	@include content-section;

	h2 {
		margin-top: 48px;
	}
	h3 {
		margin-top: 24px;
	}
}
